/* место для вашего кода */ /*спасибо, пожалуй, воспользуюсь им :)*/

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  margin: 0;
  padding: 92px 50px 96px;
}

.header-menu {
  margin: 0;
}

.header-menu-list {
  display: flex;
  gap: 32px;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  list-style: circle;
}

.header__list-item_no-bullet {
  list-style: none;
}

.header__link {
  text-decoration: underline;
  text-underline-position: under;
}

.header__link_active {
  text-decoration: none;
}

.header-logo {
  width: 148px;
  height: 105px;
  padding: 0 6px;
  object-fit: contain;
}

.address {
  margin: 0;
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
}

.header-address {
  justify-self: end;
  max-width: 240px;
}

.addres-list {
  text-underline-position: under;
  list-style: none;
}

.main {
  margin: 0;
}

.cover {
  position: relative;
  min-height: 757px;
  padding: 165px 50px 50px;
  color: #ffffff;
  text-transform: uppercase;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.cover__title {
  position: relative;
  z-index: 1;
  margin: 0;
  font-weight: 700;
  font-size: 100px;
  line-height: 115px;
  letter-spacing: 0.3em;
}

.text {
  display: block;
}

.text-left {
  margin-bottom: 20px;
  text-align: left;
}

.text-center {
  margin-bottom: 20px;
  margin-left: 30px;
  text-align: center;
}

.text-right {
  margin-left: 613px;
  text-align: right;
}

.description {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 106px;
}

.cover__description-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 0%;
  word-spacing: 19px;
}

.cover-button {
  border: 1px solid #ffffff;
  padding: 12px 32px;
  color: #ffffff;
  font-weight: 500;
  font-size: 22px;
  line-height: 100%;
  text-transform: uppercase;
  background-color: transparent;
}

.lots {
  margin: 186px 24px 0;
}

.lots__heading {
  margin-bottom: 27px;
  margin-left: 40px;
  color: #000000;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin: 0;
  margin-bottom: 33px;
  color: #ffffff;
}

.lots__card-list-item {
  position: relative;
  width: 334px;
  min-height: 596px;
  padding: 48px 40px;
  background-position: center;
  background-size: cover;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card-link {
  height: 100%;
  text-decoration: none;
}

.article {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.card__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-decoration: underline;
  text-transform: uppercase;
}

.card__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.lots-link {
  margin-top: 30px;
  margin-left: 40px;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  text-decoration: underline;
  text-underline-position: under;
}

.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  column-gap: 25px;
  margin: 120px 24px 180px;
}

.conteiner-logo {
  display: flex;
  justify-content: center;
  margin-top: 35px;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: black;
}

.logo-white {
  width: 148px;
  height: 114px;
}

.conteiner-text {
  margin-top: 143px;
}

.about__title {
  color: #000000;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  text-transform: uppercase;
}

.about-texts {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 693px;
  margin-top: 100px;
}

.about-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0;
  padding: 0 50px 0;
}

.footer-address {
  justify-self: start;
  align-self: start;
  max-width: 264px;
}

.footer-menu {
  justify-self: center;
  align-self: start;
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0%;
}

.footer-menu-list {
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;
}

.footer__link {
  text-decoration: underline;
  text-underline-position: under;
}

.footerr__link_active {
  text-decoration: none;
}

.social-link-block {
  display: flex;
  justify-self: end;
  gap: 48px;
  list-style: none;
}

.social-link {
  display: block;
  width: 48px;
  height: 48px;
  object-fit: contain;
}
/*добавлю изменения, потому что пуш не проходит*/
